<div class="w3-panel">
  <div class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">{{registerService.selectedClanHouseName}}</div>
    <div class="tree">
      <ul>
        <li>
          <a href="#">Parent</a>
          <ul>
            <li>
              <a href="#">Child</a>
              <ul>
                <li>
                  <a href="#">Grand Child</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Child</a>
              <ul>
                <li><a href="#">Grand Child</a></li>
                <li>
                  <a href="#">Grand Child</a>
                  <ul>
                    <li>
                      <a href="#">Great Grand Child</a>
                    </li>
                    <li>
                      <a href="#">Great Grand Child</a>
                    </li>
                    <li>
                      <a href="#">Great Grand Child</a>
                    </li>
                  </ul>
                </li>
                <li><a href="#">Grand Child</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

