<div class="container" *ngIf="!registerService.isOpenFamilyTree">
  <div class="image-container">
    <img src='../assets/BogandaPainting.jfif' alt="Big Picture" class="big-picture">
    <img src='../assets/BogandaPainting.jfif' alt="Small Picture" class="small-picture">
  </div>
  <div class="button-container">
    <button class="button">Male Names</button>
    <button class="button">Female Names</button>
    <div class="dropdown">
      <button class="dropdown-toggle">Clan</button>
      <div class="dropdown-content">
        <select (change)="clanValueChanged($event)">
          <option *ngFor="let clan of registerService.allClans">{{clan.name}}</option>
        </select>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropdown-toggle">Clan House</button>
      <div class="dropdown-content">
        <select (change)="updateClanHouseOptions($event)">
          <option *ngFor="let clanHouse of getFilteredClanHouses()" [value]="clanHouse.clanHouseID" [selected]="clanHouse.clanHouseID === selClanHouse">{{ clanHouse.clanHouseName }}</option>
        </select>
      </div>
    </div>
    <button type="submit" class="button" (click)="openFamilyTree()">Go to Selected House</button>
    <button type="submit" class="button" (click)="openFamilyTree2()">Go to My Clan</button>
  </div>
</div>



<!--<div class="container">
  <img src='../assets/BogandaPainting.jfif' alt="Big Picture" class="big-picture">
  <img src='../assets/BogandaPainting.jfif' alt="Small Picture" class="small-picture">
</div>

<div class="buttons">
  <button class="button">Male Names</button>
  <button class="button">Female Names</button>
</div>

<div class="buttons">
  <button class="button">My House</button>
  <button class="button">My Clan</button>
  <button class="button">Clan House</button>
  <button class="button">Go to Selected House</button>
</div>-->
<!--<div class="w3-panel">
  <div class="container" *ngIf="!registerService.isOpenFamilyTree">
    <img class="image" src='../assets/BogandaPainting.jfif' alt="Big Picture">
    <div class="small-image">
      <img src='../assets/BogandaPainting.jfif' alt="Small Picture">
    </div>
    <div class="buttons">
      <button class="button">Male Names</button>
      <button class="button">Female Names</button>
      <div class="button-container">
        <button type="submit" class="side-button" (click)="openFamilyTree2()">My House</button>
        <div class="dropdown">
          <button class="side-button">Select Clan</button>
          <span class="dropdown-content">
            <select (change)="clanValueChanged($event)">
              <option *ngFor="let clan of registerService.allClans">{{clan.name}}</option>
            </select>
          </span>
        </div>
        <div class="w3-section w3-padding-16">
          <span class="w3-col s2">
            <button class="side-button">Clan House: </button>
          </span>
          <span class="w3-col s10">
            <select (change)="updateClanHouseOptions($event)">
              <option *ngFor="let clanHouse of getFilteredClanHouses()" [value]="clanHouse.clanHouseID" [selected]="clanHouse.clanHouseID === selClanHouse">{{ clanHouse.clanHouseName }}</option>
            </select>
          </span>
        </div>
        <button class="button" (click)="openFamilyTree()">Go To Selected House</button>
      </div>
    </div>
  </div>-->
<div class="w3-row-padding" id="familyTree">
  <div *ngIf="registerService.isOpenFamilyTree"></div>
    <familyTree *ngIf="registerService.isOpenFamilyTree"></familyTree>
</div>
