<div class="w3-panel">
  <div class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Register</div>
  <div class="w3-section w3-padding-16">
    <span class="w3-col s2">
      <label> Surname: <label style="color: red">*</label></label>
    </span>
    <span class="w3-col s10">
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" [(ngModel)]="lastName" name="Last Name" required>
    </span>
  </div>
  <div class="w3-section w3-padding-16">
    <span class="w3-col s2">
      <label> Middle Name: <label style="color: red">*</label></label>
    </span>
    <span class="w3-col s10">
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" [(ngModel)]="middleName" name=" Middle Name" required>
    </span>
  </div>
  <div class="w3-section w3-padding-16">
    <span class="w3-col s2">
      <label> First Name: <label style="color: red">*</label></label>
    </span>
    <span class="w3-col s10">
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" [(ngModel)]="firstName" name="First Name" required>
    </span>
  </div>
  <div class="w3-section w3-padding-16">
    <span class="w3-col s2">
      <label> Parent: <label style="color: red">*</label></label>
    </span>
    <span class="w3-col s10">
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" [(ngModel)]="parents" name="Parents" required>
    </span>
  </div>
  <div class="w3-section w3-padding-16">
    <span class="w3-col s2">
      <label> Grandparent: <label style="color: red">*</label></label>
    </span>
    <span class="w3-col s10">
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" [(ngModel)]="grandparents" name="Grandparents" required>
    </span>
  </div>
  <div class="w3-section w3-padding-16">
    <span class="w3-col s2">
      <label> Great Grandparent: </label>
    </span>
    <span class="w3-col s10">
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" [(ngModel)]="greatGrandparents" name="Great Grandparents" required>
    </span>
  </div>
  <div class="w3-section w3-padding-16">
    <span class="w3-col s2">
      <label> DOB (MM/YY): </label>
    </span>
    <span class="w3-col s10">
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" [(ngModel)]="birthDate" name="DOB" required>
    </span>
  </div>
  <div class="w3-section w3-padding-16">
    <span class="w3-col s2">
      <label>Address: <label style="color: red">*</label></label>
    </span>
    <span class="w3-col s10">
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" [(ngModel)]="address" name="Address" required>
    </span>
  </div>
  <div class="w3-section w3-padding-16">
    <span class="w3-col s2">
      <label>City: <label style="color: red">*</label></label>
    </span>
    <span class="w3-col s10">
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" [(ngModel)]="city" name="City" required>
    </span>
  </div>
  <div class="w3-section w3-padding-16">
    <span class="w3-col s2">
      <label>Telephone: </label>
    </span>
    <span class="w3-col s10">
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" (ngModel)="telephone" name="Telephone" required>
    </span>
  </div>
  <div class="w3-section w3-padding-16">
    <span class="w3-col s2">
      <label>Gender: <label style="color: red">*</label></label>
    </span>
    <span class="w3-col s10">
      <select (change)="genderValueChanged($event)">
        <option *ngFor="let gender of registerService.allGenders">{{gender.genderValue}}</option>
      </select>
    </span>
  </div>
  <div class="w3-section w3-padding-16">
    <span class="w3-col s2">
      <label>Email: </label>
    </span>
    <span class="w3-col s10">
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" [(ngModel)]="email" name="Email" required>
    </span>
  </div>
  <div class="w3-section w3-padding-16">
    <span class="w3-col s2">
      <label>Login ID: <label style="color: red">*</label></label>
    </span>
    <span class="w3-col s10">
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" [(ngModel)]="loginId" name="LoginId" required>
    </span>
  </div>
  <div class="w3-section w3-padding-16">
    <span class="w3-col s2">
      <label>Password: <label style="color: red">*</label></label>
    </span>
    <span class="w3-col s10">
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="password" [(ngModel)]="password" name="Password" required>
    </span>
  </div>
  <div class="w3-section w3-padding-16">
    <span class="w3-col s2">
      <label>Clan: <label style="color: red">*</label></label>
    </span>
    <span class="w3-col s10">
      <select (change)="clanValueChanged($event)">
        <option *ngFor="let clan of registerService.allClans">{{clan.name}}</option>
      </select>
    </span>
  </div>
  <div class="w3-section w3-padding-16">
    <span class="w3-col s2">
      <label>Clan House: <label style="color: red">*</label></label>
    </span>
    <span class="w3-col s10">
      <select (change)="updateClanHouseOptions($event)">
        <option *ngFor="let clanHouse of getFilteredClanHouses()" [value]="clanHouse.clanHouseID" [selected]="clanHouse.clanHouseID === selClanHouse">{{ clanHouse.clanHouseName }}</option>
      </select>
    </span>
  </div>



  <div class="w3-section w3-padding-16">
    <span class="w3-col s2">
      <label>About Yourself:</label>
    </span>
    <span class="w3-col s10">
      <textarea class="w3-input w3-border w3-hover-border-black" style="width:100%;" [(ngModel)]="registerPara" name="Register Para" required></textarea>
      <span>{{wordCount(registerPara)}}/150 words</span>
    </span>
  </div>

  <br />
  <br />
  <div class="w3-section w3-padding-16">
    <span class="w3-col s2">
      <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
      <button type="button" class="w3-button w3-block w3-green" (click)="file.click()">Upload Profile Picture</button>
    </span>
    <span class="w3-col s10">
      <span class="upload" *ngIf="imgProgress > 0">
        {{imgProgress}}%
      </span>
      <span class="upload" *ngIf="imgMsg">
        {{imgMsg}}
      </span>
    </span>
  </div>
  <div class="w3-section w3-padding-16" *ngIf="showFailMsg">
    <span class="w3-col s12">
      <label class="w3-red">{{failMsg}}</label>
    </span>
  </div>
  <div class="w3-section w3-padding-16" *ngIf="showSuccessMsg">
    <span class="w3-col s12">
      <label class="w3-green">{{successMsg}}</label>
    </span>
  </div>
  <div class="w3-section w3-padding-16">
    <button type="submit" class="w3-button w3-block w3-black" (click)="registerPerson()">Send</button>
  </div>
</div>
